.SmallCard{
    height: 80.5px;
    position: relative;
    display: -webkit-box;
    flex-direction: column;
    width: 100%;
    padding: 1% 4%;
    background-color: white;
    border-radius: .5rem;
    margin-top: 10px;
}

.leftData{
    width: 66.7%;
    text-align: left;
    line-height: 1.5;
    align-items: center;
    display: grid;
}

.titleText{
    font-weight: 600!important;
    color: #777777;
    font-size: 16px;
}

.mainText{
    font-weight: 700!important;
    display: flex;

    font-size: 18px;
}

.mainTextPercentage{
    font-size: 16px;
    align-items: center;
    display: flex;
    margin-left: 8px;
}

.textGreen{
    color: rgb(141, 218, 27);
}

.textRed{
    color: red;
}

.rightData{
    width: 33.3%;
    align-items: center;
    display: grid;
}

.coloredBox{
    background-image: linear-gradient(310deg,#7928ca,#ff0080);
    border-radius: 0.5rem;
    width: 48px;
    height: 48px;
    margin-left: auto;
    display: flex;
    place-items: center;
}

.iconHolder{
    color: white;
    width: 100%;
}